@import "tailwindcss";

:root {
  --background: #141414;
  --foreground: #F9F9F9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
